<div class="perfil-container">
  <header class="perfil-header">
    <h1>Hot Exchange</h1>
    <br>
    <p>Bienvenido!</p>
    <br>
  </header>

  <header class="perfil-usuario">
    <p>Usuario: Felipe</p>
    <br>
  </header>

  <header class="perfil-header">
    <h4>Información adicional</h4>
    <br>
  </header>

  <section class="informacion-adicional">
    <form>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" placeholder="Ingrese su nombre aquí">
      <br>

      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" placeholder="Ingrese su apellido aquí">
      <br>

      <label for="educacion">Seleccione Nivel</label>
      <select id="educacion">
        <option>Seleccione nivel</option>
        <option>Primaria</option>
        <option>Secundaria</option>
        <option>Universitaria</option>
        <option>Maestría</option>
        <option>Doctorado</option>
      </select>
      <br>

      <label for="fecha-nacimiento">Fecha Nacimiento</label>
      <input type="date" id="fecha-nacimiento">
      <br>

      <div class="buttons">
        <button type="reset">Limpiar</button>
        <button type="button">Mostrar</button>
      </div>
    </form>
  </section>
  <div>
    <br>
    <ion-button expand="block" fill="solid" (click)="navegarATab1()">Volver a Divisas</ion-button>
  </div>
    <footer class="bottom">
    <p>App desarrollada por F. Muñoz</p>
  </footer>
</div>



