<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hot Exchange
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="perfil-container">
  <header class="perfil-header">
    <h4>Información adicional</h4>
    <br>
  </header>

  <header class="perfil-usuario">
    <h5>Usuario: felipe</h5>
    <br>
  </header>

  <section class="informacion-adicional">
    <form>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" placeholder="Ingrese su nombre aquí">
      <br>

      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" placeholder="Ingrese su apellido aquí">
      <br>

      <label for="inversor">Nivel de inversor</label>
      <select id="inversor">
        <option>Seleccione nivel</option>
        <option>Inicial (cada 3 días)</option>
        <option>Medio (cada 5 días)</option>
        <option>Avanzado (cada 7 días)</option>
        <option>Broker (cada 10 días)</option>
      </select>
      <br>

      <label for="fecha-nacimiento">Fecha Nacimiento</label>
      <input type="date" id="fecha-nacimiento">
      <br>

      <div class="buttons">
        <button type="reset">Limpiar</button>
        <button type="submit">Guardar</button>
      </div>
      <br>
    </form>
  </section>
  <div>
    <ion-button expand="block" fill="solid" (click)="navegarATab1()">Volver a Divisas</ion-button>
  </div>
</div>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App desarrollada por F. Muñoz
    </ion-title>
  </ion-toolbar>
</ion-footer>