<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HotExchange
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="perfil-container">
  <header class="perfil-header">
    <h4>Información adicional</h4>
  </header>

  <header class="perfil-usuario">
    <h5>Usuario: {{nombre}}</h5>
  </header>

  <section class="informacion-adicional">
    <form>
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" placeholder="Ingrese su nombre aquí" [(ngModel)]="nombre" name="nombre">

      <label for="apellido">Apellido</label>
      <input type="text" id="apellido" placeholder="Ingrese su apellido aquí" [(ngModel)]="apellido" name="apellido">

      <label for="inversor">Nivel de inversor</label>
      <select id="inversor" [(ngModel)]="nivelInversor" name="nivelInversor">
        <option value="" disabled></option>
        <option value="Seleccione nivel" disabled>Seleccione nivel</option>
        <option value="Inicial">Inicial (cada 3 días)</option>
        <option value="Medio">Medio (cada 5 días)</option>
        <option value="Avanzado">Avanzado (cada 7 días)</option>
        <option value="Broker">Broker (cada 10 días)</option>
      </select>

      <label for="fecha-nacimiento">Fecha Nacimiento</label>
      <input type="date" id="fecha-nacimiento" [(ngModel)]="fechaNacimiento" name="fechaNacimiento">

      <div class="buttons">
        <ion-button expand="full" fill="solid" (click)="limpiarDatos()">Limpiar</ion-button>
        <ion-button expand="full" fill="solid" (click)="guardarDatos()">Guardar</ion-button>
      </div>
    </form>
  </section>
  <div>
    <ion-button expand="full" fill="solid" (click)="navegarATab1()">Volver a Divisas</ion-button>
  </div>
</div>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App desarrollada por F. Muñoz
    </ion-title>
  </ion-toolbar>
</ion-footer>