<<<<<<< HEAD
=======
ion-header {
    ion-toolbar {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-title {
            text-align: center;
        }
    }
}

>>>>>>> f520401b931e804657690899b4d34873a81595cb
.encabezado {
    text-align: center;
}

.footer-button {
    position: absolute;
    bottom: 16px;
    width: calc(100% - 32px);
    left: 16px;
    right: 16px;
  
    ion-button {
      width: 100%;
    }
<<<<<<< HEAD
  }

  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .header-title {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex: 1;
    }
  
    h1 {
      margin: 0;
    }
  
    .small-reg {
        font-size: 0.66em;
        vertical-align: super;
    }
  
    ion-buttons {
      ion-icon {
        font-size: 24px;
      }
    }
=======
>>>>>>> f520401b931e804657690899b4d34873a81595cb
  }