<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones de Cámara</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="button">
    <ion-button expand="block" fill="solid" (click)="buscarFoto()">Buscar Foto</ion-button>
  </div>
  <div class="button">
    <ion-button expand="block" fill="solid" (click)="tomarFoto()">Tomar Foto</ion-button>
  </div>
  <div class="button">
    <ion-button expand="block" fill="solid" (click)="volverInicio()">Volver a Inicio</ion-button>
  </div>
</ion-content>
