<ion-content class="ion-padding">
  <div class="login-header">
    <h1>HotExchange</h1>
    <h1>HXE <span class="small-reg">&reg;</span></h1>
    <p>Aquí comienza todo</p>
    <br>
    <p>Bienvenido!</p>
  </div>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <br>
    <br>
    <br>
  </ion-list>

  <div>
    <ion-button expand="block" fill="solid" (click)="login()">Iniciar sesión</ion-button>
  </div>

  <div>
    <ion-button expand="block" fill="solid" (click)="navegarARegistro()">Crea tu cuenta gratis</ion-button>
  </div>

</ion-content>