ion-content {
    .ion-page {
        ion-header {
            ion-toolbar {
                display: flex;
                justify-content: center;
                align-items: center;

                ion-buttons {
                    position: absolute;
                    left: 0;
                }

                ion-title {
                    text-align: center;
                    flex: 1;
                    display: flex;
                    justify-content: center;

                    h4 {
                        margin: 0;
                    }
                }
            }
        }
    }
}