<ion-header>
  <ion-toolbar>
    <ion-title>Cámara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-pic-container">
    <div class="profile-pic">
      <ng-container *ngIf="imageUrl; else defaultIcon">
        <img [src]="imageUrl" class="person-icon" />
      </ng-container>
      <ng-template #defaultIcon>
        <ion-icon name="person-circle" class="person-icon"></ion-icon>
      </ng-template>
      <ion-button fill="clear" class="delete-button" (click)="deleteImage()">
        <ion-icon name="trash-outline" class="trash-icon"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="button">
    <ion-button expand="block" fill="solid" (click)="presentActionSheet()">Cargar nueva imagen de perfil</ion-button>
  </div>
  
  <div class="button">
    <ion-button expand="block" fill="solid" (click)="goToHome()">Volver a inicio</ion-button>
  </div>
</ion-content>
