<ion-content class="ion-padding">
  <div class="textos">
    <header class="perfil-usuario">
      <br><br><br><br>
      <h4>Usuario: {{nombre}}</h4>
      <br>
    </header>
  
    <br><br><br><br><br>
    <p>Quiere cambiar sus ${{cantidad01}}</p>
    <br>
    <p>Por la cantidad de ${{total}}?</p>
    <br><br><br><br>
    <br><br><br>
  </div>


  <div class="button">
    <ion-button expand="block" fill="solid" (click)="mostrarAlerta()">Comprar/vender</ion-button>
  </div>
  
  <div class="button">
    <ion-button expand="block" fill="solid" (click)="navegarATabs()">Volver a simular Divisas</ion-button>
  </div>

</ion-content>