<ion-content class="ion-padding">
  <div class="encabezado">
    <br>
    <br>
    <h5>Hola Felipe</h5>
    <br>
    <br>
    <p>¿Que Divisa buscas?</p>
  </div>

  <div class="container">
    <div class="form-group">
      <label for="divisa"></label>
      <select id="divisa">
        <option>Dólar</option>
        <option>Euro</option>
        <option>Yen</option>
        <option>Peso chileno</option>
        <option>Soles</option>
        <option>Yuan</option>
      </select>
    </div>
  </div>

  <ion-content class="ion-padding">
    <div class="encabezado">
      <p>Indica tu divisa y la cantidad que tienes:</p>
    </div>

    <div class="buttons">
      <button type="button">Cantidad</button>
      <button type="button">Divisa</button>
    </div>

    <div class="encabezado">
      <br>
      <br>
      <br>
      <p>Indica la divisa que a la que quieres cambiar</p>
    </div>

    <div class="buttons">
      <button type="button">Cantidad</button>
      <button type="button">Divisa</button>
      <br>
      <br>
    </div>

  <div>
    <br>
    <br>
    <ion-button expand="block" fill="solid" (click)="navegarATab2()">Ir a Comprar/Vender</ion-button>
  </div>
</ion-content>