<ion-content class="ion-padding">
  <header class="perfil-usuario">
    <br>
    <h4>Usuario: felipe</h4>
    <br>
  </header>

  <div class="encabezado">
    <p>Indica la cantidad que tienes y tu divisa:</p>
  </div>

  <div class="buttons">
    <div class="container">
      <div class="form-group">
        <label for="cantidad"></label>
        <br>
        <input type="number" id="cantidad" [(ngModel)]="cantidad01" (focus)="clearZero()">
        <label for="divisa1"></label>
        <select id="divisa1" [(ngModel)]="divisa1">
          <option>Dólar</option>
          <option>Euro</option>
          <option>Yen</option>
          <option>Peso chileno</option>
          <option>Soles</option>
          <option>Yuan</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="encabezado">
    <p>Indica la divisa por la que quieres cambiar:</p>
  </div>
  <br>
  <br>

  <div class="buttons">
    <div class="container">
      <div class="form-group">
        <label for="divisa2"></label>
        <select id="divisa2" [(ngModel)]="divisa2" (change)="convertir()">
          <option>Dólar</option>
          <option>Euro</option>
          <option>Yen</option>
          <option>Peso chileno</option>
          <option>Soles</option>
          <option>Yuan</option>
        </select>
      </div>
    </div>
  </div>
  <br>

  <div class="resultado">
    <p>Total: {{total}}</p>
  </div>
  <br>

  <div class="button">  
    <ion-button expand="block" fill="solid" (click)="navegarATab2()">Ir a Comprar/Vender</ion-button>
  </div>

  <div class="button">  
    <ion-button expand="block" fill="solid" (click)="mostrarAlerta()">Ir al historial</ion-button>
  </div>
</ion-content>
