.encabezado {
    text-align: center;
}

.perfil-usuario {
    text-align: center;
    width: 100%;
}

.resultado {
    text-align: center;
    width: 100%;
}

.bottom {
    position: fixed;
    bottom: 0;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    width: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

select {
    padding: 8px;
    font-size: 16px;
<<<<<<< HEAD
    text-align-last: center;
}

.option-center {
    text-align: center;
=======
>>>>>>> f520401b931e804657690899b4d34873a81595cb
}

.button {
    text-align: center;
}