.encabezado {
    text-align: center;
}

.button {
    text-align: center;
}

.bottom {
    position: fixed;
    bottom: 0;
    text-align: left;
}

.small-reg {
    font-size: 0.7em;
    vertical-align: super;
}