<ion-content class="ion-padding">
  <div class="encabezado">
    <br><br><br>
    <h1>HotExchange</h1>
    <p>Versión 1.0.0</p>
    <p>"Somos una empresa de intercambio</p>
    <p>de Divisas internacionales,</p>
    <p>próximamente sumaremos</p> 
    <p>Cryptomonedas, Acciones y</p>
    <p>Bonos."</p>
    <br><br><br><br>
  </div>

  <div class="button">
    <ion-button expand="block" fill="solid" (click)="navegarAPerfil()">Completar perfil</ion-button>
  </div>

  <div class="button">
    <ion-button expand="block" fill="solid" (click)="navegarALogin()">Cerrar sesión</ion-button>
  </div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p>email: fe.munozo&#64;duocuc.cl <ion-icon name="mail-outline"></ion-icon></p>
      <p>contact: +56942291446 <ion-icon name="logo-whatsapp"></ion-icon></p>
    </ion-title>
  </ion-toolbar>
</ion-footer>