<ion-content class="ion-padding">
  <div class="encabezado">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>HXH <span class="small-reg">&reg;</span></h1>
    <p>versión 4.1.1</p>
    <br>
    <br>
    <p>Somos una empresa de intercambio</p>
    <p>de Divisas internacionales</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  

  <div class="bottom">
    <p>email: fe.munozo&#64;duocuc.cl</p>
    <p>contact: +56942291446</p>
  </div>

  <div>
    <ion-button expand="block" fill="solid" (click)="navegarALogin()">Cerrar sesión</ion-button>
  </div>

</ion-content>

